<div id="main">
  <h id="main-title">¡Buscaria!</h>
  <div id="content">
    <h1>About Us</h1>
    Buscaria is a Messenger interface that connects language learners. Are you a language student or interested in helping others learn a language you speak? We can connect you to an appropriate conversation partner.
    <h1>How It Works</h1>
    Buscaria exists on Facebook Messenger, just like other contacts, and thus is available on the Messenger mobile app as well as online. When you begin, you will have a brief chat with a bot so that we can find out what kind of language experience you have and what you are looking for in a mentor. <br><br> Next, Buscaria will connect you with an appropriate conversation partner. Initially, you will talk with this person through the Buscaria Messenger interface, but if you wish to do audio or video chat with your partner, you can connect with them individually over Messenger.
    <h1>Get Started</h1>
    Click here to chat with Buscaria! [link]
    
  </div>
</div>
