<div id="main">
  <h id="main-title">¡Buscar&iacute;a!</h>
  <div id="content">
    <h1>About Buscar&iacute;a</h1>
    <p>Buscar&iacute;a is a Messenger interface that connects language learners. Are you a language student or someone interested in helping others learn a language you speak? We can connect you to an appropriate conversation partner straight from Messenger.</p>
    <h1>How It Works</h1>
    <p>When you begin, you will have a brief chat with a bot so that we can find out what kind of language experience you have and what you are looking for in a language partner.</p> <p>Next, Buscar&iacute;a will connect you with an appropriate conversation partner. Initially, you will talk with this person through the Buscar&iacute;a Messenger interface, but if you wish to do audio or video chat with your partner, you can connect with them individually over Messenger.</p>
    <h1>Why It Works</h1>
    <p>Language teachers and multilinguists alike agree that one of the best ways to learn a language is through repeated, one-on-one conversation. Both students in the classroom and visitors to a new country use this method to gain familiarity and ease with a new language. But not everyone is learning the same way - some people are learning a new language on their own or with the help of a language learning site. Buscar&iacute;a helps these people and others fill in the gaps in their education by engaging them in meaningful and natural conversation.</p>
    <h1>Get Started</h1>
    <a href="http://www.facebook.com/buscaria">Click here to chat with Buscar&iacute;a!</a>
    <div id="credits"><p>Buscar&iacute;a was created by Michael Arcidiacono, Akshay Kalose, Vishnu Sarukkai, and Michael Svolos at Treehacks 2017.</p></div>
  </div>
</div>
